html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: rgb(9, 5, 59);
}
 a{
     color: #403516!important;
 }
 a:hover{
     color: #A3A658!important;
 }

/*Login form*/
#form-login{
    padding: 20px;
    background-color: aqua;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}

#form-login input{
    border: none;
    outline: none;
    border-bottom: solid 2px #403516;
    background-color: transparent;
}
#form-login input:focus{
    border: none;
    outline: none;
}


/*Update
#form-update{
    padding: 20px;
    background-color: #0f4a63;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    color: lime;
}
.img-logo{
    background-color: white;
    padding: 20px;
}
*/

